body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  button.reset {
    background-color: #2ecc71;
    transition: background-color 0.3s;
  }
  
  
  button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  
  p {
    font-size: 18px;
    margin: 5px;
  }
  
  div.result {
    margin-top: 20px;
  }
  
  button.reset {
    background-color: #2ecc71;
  }
  

  @media only screen and (max-width: 600px) {
    button {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    p {
      font-size: 16px;
    }
  }
  